<template>
  <main v-if="!loading">
<DataTitle :text="title" :dataDate="dataDate"/>
<DataBoxes :status="status"/>
<CountrySelect :countries="countries" @get-country="getCountrydata" />
<div class="text-center mt-5">
<button v-if="status.Country" @click="ClearCountryData" class="bg-green-800 hover:bg-green-700 text-white rounded p-2">Clear country</button>
</div>
  </main>
 
  <main  v-else>
    <img :src="loadingImage" class="m-auto w-24" alt=""/>
        </main>

  
</template>

<script>

import DataTitle from '../components/DataTitle.vue'
import DataBoxes from '../components/DataBoxes.vue'
import CountrySelect from '../components/CountrySelect.vue'



export default {
  name: 'Home',
  components: {
    DataTitle,
    DataBoxes,
    CountrySelect
  },
  data() {
    return {
   title: 'Global',
   dataDate: '',
   status: { },
   countries: [],
   loading: true,
   loadingImage: require('../assets/hourglass.gif')

    }
   
  },
  
  methods: {
    async fetchdata() {
   const res = await fetch('https://api.covid19api.com/summary')
    const data = await res.json()
    return data
    },
    getCountrydata(country) {
      this.status = country
      this.title = country.Country
    },
    async ClearCountryData() {
      this.loading= true,
      this.title= 'Global'
      const data = await this.fetchdata()
      this.status= data.Global
      this.loading=false
    },
  },
   async created() {
    const data = await this.fetchdata()
    this.dataDate = data.Date
    this.countries = data.Countries
    this.status = data.Global
    this.loading = false
  }
}
</script>
