<template>
<div class="grid md:grid-cols-2 gap-4 mt-7 p-10">
<div class="shadow-md bg-blue-100 text-center rounded">
<h1 class="text-2xl font-bold mb-4 text-blue-900">Cases</h1>
<div class="text-xl mb-4">

<span class="font-bold">New:</span>
{{ numberWithCommas(status.NewConfirmed) }}
</div>
<div class="text-xl mb-4">
<span class="font-bold">Total:</span>
{{ numberWithCommas(status.TotalConfirmed) }}
</div>
</div>
    
    <div class="shadow-md bg-blue-100 text-center rounded">
<h1 class="text-2xl font-bold mb-4 text-blue-900">Deaths</h1>
<div class="text-xl mb-4">

<span class="font-bold">New:</span>
{{ numberWithCommas(status.NewDeaths) }}
</div>
<div class="text-xl mb-4">
<span class="font-bold">Total:</span>
{{ numberWithCommas(status.TotalDeaths) }}
</div>
</div>

    </div>
</template>
<script>
 export default{
 name: 'DataBoxes',
 props: ['status'],
  methods: {
    numberWithCommas(x) {
      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    },
  },
 }
</script>
