<template>
    <div>
        <h1 class=" text-2xl text-center mt-5 font-bold">{{ text }}</h1>
    <div>
        <p class="text-center"> {{ timestamp }}</p>
        </div>
        </div>
</template>
<script>
import moment from 'moment'
export default{
    name: 'Data Title',
    props:['text', 'dataDate'], 
    computed: {
        timestamp: function(){
            return moment(this.dataDate).format('DD MMMM YYYY','h:mm:ss')
        }
    }
    
}
</script>
