<template>
  <div>
    <header  class="text-center bg-blue-900 text-white p-4 mb-5">
  <h1 class="text-3xl md-5xl font-bold mb-3"><i class="fa fa-viruses"></i>Covid 19 Tracker</h1>
    </header>
  </div>
</template>

<script>
export default {
  
  
}
</script>
